In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("K_weeklyreport_Oct01_Oct30.csv")

In [3]:
df

,request_id,request_item_id,line_item_id,request_date,request_time,sales_agent,garage_name,make,model,fuel_type,...,quote_created_time,supply_agent,garage_discount_percent,selling_price_unit,sellin_price_total,po_id,po_date,po_time,po_value,item_quantity.1
0,310505,388485,40419,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,10:17:44,MUJAHID SHARIFF,5.0,7.60,76.00,17685.0,2023-10-03,11:37:35,2114.16,10.0
1,310505,388486,39750,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,10:17:44,MUJAHID SHARIFF,5.0,141.55,141.55,17685.0,2023-10-03,11:37:35,2114.16,1.0
2,310505,388487,39755,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,10:17:44,MUJAHID SHARIFF,5.0,141.55,141.55,17685.0,2023-10-03,11:37:35,2114.16,1.0
3,310505,388488,39683,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,10:17:44,MUJAHID SHARIFF,5.0,1824.00,1824.00,17685.0,2023-10-03,11:37:35,2114.16,1.0
4,310506,388489,39711,2023-10-02,10:28:18,SENTO,SHREE CARS,Maruti Suzuki,Brezza,Petrol,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5564,311491,391174,37909,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,10:52:34,RAJESH,0.0,2403.00,2403.00,NaN,NaN,NaN,NaN,NaN
5565,311491,391175,39747,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,10:52:34,RAJESH,0.0,835.00,835.00,NaN,NaN,NaN,NaN,NaN
5566,311491,391176,39748,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,10:52:34,RAJESH,0.0,835.00,835.00,NaN,NaN,NaN,NaN,NaN
5567,311492,391177,39893,2023-10-30,10:51:06,SAI KUMAR,Right Angle Automotive,Hyundai,i10,Petrol,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5568,311493,391178,38400,2023-10-30,10:51:53,SAI KUMAR,Laksh,Maruti Suzuki,Swift Dzire,Diesel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df=df.assign(new_data=None)

In [10]:
for i in range(len(df)):
    df["new_data"][i] = str(df["request_id"][i])+"_"+str(df["request_item_id"][i])

/tmp/ipykernel_21840/859650319.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["new_data"][i] = str(df["request_id"][i])+"_"+str(df["request_item_id"][i])

In [11]:
ind=[]
uni=[]
for i in range(len(df)):
    if df["new_data"][i] not in uni:
        uni.append(df["new_data"][i])
        ind.append(i)

In [12]:
universal_data=df.iloc[ind]

In [13]:
universal_data=universal_data.reset_index()
universal_data.drop(["index"],axis=1,inplace=True)

In [14]:
universal_data

,request_id,request_item_id,line_item_id,request_date,request_time,sales_agent,garage_name,make,model,fuel_type,...,supply_agent,garage_discount_percent,selling_price_unit,sellin_price_total,po_id,po_date,po_time,po_value,item_quantity.1,new_data
0,310505,388485,40419,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,MUJAHID SHARIFF,5.0,7.60,76.00,17685.0,2023-10-03,11:37:35,2114.16,10.0,310505_388485
1,310505,388486,39750,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,MUJAHID SHARIFF,5.0,141.55,141.55,17685.0,2023-10-03,11:37:35,2114.16,1.0,310505_388486
2,310505,388487,39755,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,MUJAHID SHARIFF,5.0,141.55,141.55,17685.0,2023-10-03,11:37:35,2114.16,1.0,310505_388487
3,310505,388488,39683,2023-10-01,23:41:32,SENTO,M AND K CARO CITY,Hyundai,i10,Petrol,...,MUJAHID SHARIFF,5.0,1824.00,1824.00,17685.0,2023-10-03,11:37:35,2114.16,1.0,310505_388488
4,310506,388489,39711,2023-10-02,10:28:18,SENTO,SHREE CARS,Maruti Suzuki,Brezza,Petrol,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310506_388489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685,311491,391174,37909,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,RAJESH,0.0,2403.00,2403.00,NaN,NaN,NaN,NaN,NaN,311491_391174
2686,311491,391175,39747,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,RAJESH,0.0,835.00,835.00,NaN,NaN,NaN,NaN,NaN,311491_391175
2687,311491,391176,39748,2023-10-30,10:49:57,SAI KUMAR,Hilux Automotive,Volkswagen,Polo,Petrol,...,RAJESH,0.0,835.00,835.00,NaN,NaN,NaN,NaN,NaN,311491_391176
2688,311492,391177,39893,2023-10-30,10:51:06,SAI KUMAR,Right Angle Automotive,Hyundai,i10,Petrol,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311492_391177
2689,311493,391178,38400,2023-10-30,10:51:53,SAI KUMAR,Laksh,Maruti Suzuki,Swift Dzire,Diesel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311493_391178

In [16]:
universal_data.to_csv("lol.csv")